$font-family: "Roboto" !default;

@font-face {
    font-family: "#{$font-family}-Regular";
    src: url("../fonts/#{$font-family}/#{$font-family}-Regular.woff") format("woff"),
        url("../fonts/#{$font-family}/#{$font-family}-Regular.ttf") format("truetype"),
        url("../fonts/#{$font-family}/#{$font-family}-Regular.eot") format("eot");
}

@font-face {
    font-family: "#{$font-family}-Bold";
    src: url("../fonts/#{$font-family}/#{$font-family}-Bold.woff") format("woff"),
        url("../fonts/#{$font-family}/#{$font-family}-Bold.ttf") format("truetype"),
        url("../fonts/#{$font-family}/#{$font-family}-Bold.eot") format("eot");
}

@font-face {
    font-family: "#{$font-family}-Italic";
    src: url("../fonts/#{$font-family}/#{$font-family}-Italic.woff") format("woff"),
        url("../fonts/#{$font-family}/#{$font-family}-Italic.ttf") format("truetype"),
        url("../fonts/#{$font-family}/#{$font-family}-Italic.eot") format("eot");
}

@font-face {
    font-family: "#{$font-family}-Light";
    src: url("../fonts/#{$font-family}/#{$font-family}-Light.woff") format("woff"),
        url("../fonts/#{$font-family}/#{$font-family}-Light.ttf") format("truetype"),
        url("../fonts/#{$font-family}/#{$font-family}-Light.eot") format("eot");
}

@font-face {
    font-family: "#{$font-family}-BoldItalic";
    src: url("../fonts/#{$font-family}/#{$font-family}-BoldItalic.woff") format("woff"),
        url("../fonts/#{$font-family}/#{$font-family}-BoldItalic.ttf") format("truetype"),
        url("../fonts/#{$font-family}/#{$font-family}-BoldItalic.eot") format("eot");
}

@font-face {
    font-family: "#{$font-family}-LightItalic";
    src: url("../fonts/#{$font-family}/#{$font-family}-LightItalic.woff") format("woff"),
        url("../fonts/#{$font-family}/#{$font-family}-LightItalic.ttf") format("truetype"),
        url("../fonts/#{$font-family}/#{$font-family}-LightItalic.eot") format("eot");
}
